@import 'reset.css';

:root{
    --color-green: rgba(84, 162, 154, 1);
    --color-gray: rgba(245, 245, 245, 1);
    --font-color-gray: rgba(176, 176, 176, 1);

    --size-nav: 1.3vw;
}

input{
    line-height: normal;
    opacity: 50%;
    padding-left: .8em;
}

body{
    width: 100vw;
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 스크롤바 설정*/
body::-webkit-scrollbar{
    width: 1.66vw;
}

/* 스크롤바 막대 설정*/
body::-webkit-scrollbar-thumb{
    background-color: #E7E7E7;
    /* 스크롤바 둥글게 설정    */
    border-radius: 39px;

}

/* ==========================.nav========================== */
.nav{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    background-color: var(--color-green);
}

.nav > img{
    padding-left: 2vw;
    width: 7vw;
}

.nav > a> img:hover{
    opacity: 0.7;
}

.nav > input{
    width: 30vw;
}

.nav > a{
    padding-right: 2vw;
}

.nav > a > img{
    width: 1.5vw;
    margin-top: 1vh;
}
/* ==========================.content========================== */
.content{
    width: 90vw;
    padding-top: 5vh;
}

.content .content_reportList{
    color: var(--font-color-gray);
    font-size: var(--size-nav);
}

.content .content_reportList > li {
    padding-bottom: 3vh;
}

.content .content_reportList > li > ul{
    padding-left: 1.3vw;
}

.content .content_reportList > li > ul,
.content .content_reportList > li > a > ul {
    display: flex;
    justify-content: space-between;
}

.content .content_reportList .item > a > ul{
    padding: 1.3vw;
    background-color: white;
     /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #89898929;
    border-radius: 10px;
}

.content .content_reportList .item > a > ul:hover{
    opacity: 0.5;
}

.content .content_reportList > li >  ul > li,
.content .content_reportList > li > a > ul > li{
    width: 22.5vw;
}

.content .content_reportList .item .status {
    display: flex;
}

/* 추가된 a 태그 스타일 */
.content .content_reportList .item a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.content .content_reportList .item a > ul > .status > img{
    width: 1vw;
    height: 1vw;
}

.content .content_reportList .item a > ul > .status > p{
    padding-left: 0.5vw;
}
